<style>

  
    .container {

        display: flex;
        justify-content: center;
        align-content: center;

    }

    img{

   margin-left: 80px;
   margin-bottom: 100px;
   max-width: 100%;
   height: auto;
   width: auto;
   float:right;
 
   }

    form {

        font-size: 2rem;
        background-color: lightskyblue;
        padding: 20px;
        width: 400px;
        text-align: center;
        margin-top: 40px;
        margin-right: 20px;
        border-radius: 10px;
        border:1.5px solid #000000;
        float:left;
        margin-right: 50px;


    }

    input {

        font-size: 1.5rem;
        border-radius:10px;
        font-family:Arial, Helvetica, sans-serif;
        

    }

    select {

        font-size: 1.5rem;
        background-color:#ffffff;
        border-radius: 10px;
        border:2px solid #000000;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        margin:15px;

    }

    button {

        font-size: 1.5rem;
        background-color: #41ff47;
        margin:10px;
        font-family:Arial, Helvetica, sans-serif;

    }

    h1 {

        font-size: 2rem;
        text-align: center;
        margin-top: 50px;
        font-family:Arial, Helvetica, sans-serif;

    }
</style>

<h1> Calculadora</h1>

<div class="container">
    <form>
        <input type="number" [(ngModel)]="num1" name="num1"><br>

        <select name="Operação" id="selectedOperation" [(ngModel)]="selectedOperation">
            <option value="Somar"> Soma</option>
            <option value="Dividir"> Dividir</option>
            <option value="Subtrair"> Subtrair</option>
            <option value="Multiplicar"> Multiplicar</option>
            <option value="Potência"> Potência</option>
            <option value="RaizQuadrada"> Raiz Quadrada</option>

        </select>
        <br>

        <!-- Logica para que caso a operação selecionada seja raiz, o input do num2 suma, podendo aparecer novamente selecionando 
outra operação -->
        <input *ngIf="selectedOperation !== 'RaizQuadrada'" type="number" [(ngModel)]="num2" name="num2"><br>

        <button (click)="onClickCalculate()">Calcular</button><br>
        {{resultado}}

    </form>
    <img src="assets/Imagem/emoji.jpg" *ngIf="mostrarImagem">
    
</div>
